@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
<div class="badge-secondary">
    <h3>Developer: Md. Rezaul Hasan</h3>
    <h5>Full-Stack Developer</h5>
    <h6>rezaulhasan0168@gmail.com</h6>
    <h6>+46 730957273</h6>
</div>